# unfortunately I cannot use nix to do this
name: Bundles

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  bundle-linux:
    runs-on: ubuntu-22.04 # LTS
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo
            target/
          key: ${{ runner.os }}-22-04-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Add ubuntu dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libasound2-dev
      - name: Install nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Cache build artifacts
        uses: DeterminateSystems/flakehub-cache-action@main
      - name: Build desktop icon
        run: nix develop --command bash -c "just build__desktop-file"
      - name: Install cargo-packager
        run: cargo install -f cargo-packager
      - name: Bundle packages
        run: cargo packager --formats deb,appimage
      - name: Upload artifact
        run: |
          gh release upload ${{ github.ref_name }} bundle/temporis_*.deb
          gh release upload ${{ github.ref_name }} bundle/temporis_*.AppImage
  bundle-mac:
    runs-on: macos-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo
            target/
          key: ${{ runner.os }}-13-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install cargo-packager
        run: cargo install -f cargo-packager
      - name: Bundle packages
        run: cargo packager --formats dmg
      - name: Upload artifact
        run: |
          gh release upload ${{ github.ref_name }} bundle/temporis_*.dmg
  publish-release:
    needs:
      - bundle-linux
      - bundle-mac
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v6
      - name: mark release as non-draft
        run: |
          gh release edit ${{ github.ref_name }} --draft=false
